{% load static %}
<html>
<head>
        <title>Clem Steel blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div class="page-header">
        <h1><a href="/">Running Blog zum Thema Laufdatenauswertung</a></h1>
    <div>
	</div>
		<p>Es wird mit Pulsgurt aufgezeichnet und per App an Google Fit gesendet.</p>
		<p>Die Google Fit Daten werden mit Garmin Schnittstelle heruntergeladen und mit Python ausgewertert.</p>
		<p><a href="https://github.com/clemenssteel/TrainingCenter/" target="_blank">GitHub repository ohne Laufdaten</a> </p>
		<p><a href="https://trello.com/b/VlcS8lx9/trainingcenter/" target="_blank">Stand des Arbeitsfortschritts am Projekt</a></p>
	</div>
	<div class="content container">
		<div class="row">
			<div class="col-md-8">
					<div class="post">
						<div class="date">
							<p>publiziert: 5. Oktober 2018 8:15</p>
						</div>
						<h1><a href="">Datensätze</a></h1>
						<p>Es liegen 88 Datensätze verschiedener Aktivitäten vor. Diese enthalten den kontinuierlichen Puls, die gelaufenen Meter und die kontnuierliche Position als Geokoordinaten, außerdem Maximalpuls, mittleren Puls und den Startzeitpunkt.</p>
					</div>
			</div>
		</div>
	</div>
	<div class="content container">
		<div class="row">
			<div class="col-md-8">
					<div class="post">
						<div class="date">
							<p>publiziert: 5. Oktober 2018 9:14</p>
						</div>
						<h1><a href="">Datenverarbeitung</a></h1>
						<p>Die Daten liegen im Garmin Dateiformat vor und können als xml Datei geparst werden. Eine Run Klasse erzeugt Run Objekte mit dem Startzeitpunkt als Namen und den Daten als array.</p>
					</div>
			</div>
		</div>
	</div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>

