<html>
<head>
        <title>Clem Steel blog</title>
    </head>
<body>
	<div>
            <h1><a href="/">Running Blog zum Thema Laufdatenauswertung</a></h1>
            <p>Es wird mit Pulsgurt aufgezeichnet und per App an GoogleFit gesendet.</p>
			<p>Die Google Fit Daten werden mit Garmin Schnittstelle heruntergeladen und mit Python ausgewertert.</p>
			<p>GitHub repository ohne Laufdaten: https://github.com/clemenssteel/TrainingCenter</p>
			<p>Stand des Arbeitsfortschritts am Projekt: https://trello.com/b/VlcS8lx9/trainingcenter</p>
        </div>

        <div>
            <p>publiziert: 05.10.2018, 08:15:</p>
            <h2><a href="">Datensätze</a></h2>
            <p>Es liegen 88 Datensätze verschiedener Aktivitäten vor. Diese enthalten den kontinuierlichen Puls, die gelaufenen Meter und die kontnuierliche Position als Geokoordinaten. Außerdem Maximalpuls, mittlerer Puls und der Startzeitpunkt.</p>
        </div>

        <div>
            <p>published: 05.10.2018, 09:14</p>
            <h2><a href="">Datenverarbeitung</a></h2>
            <p>Die Daten liegen im Garmin Dateiformat vor und können als xml Datei geparst werden. Eine Run Klasse erzeugt run Objekte mit dem Startzeitpunkt als Namen und den Daten als Dictionary mit Listen gefüllt.</p>
</body>
</html>
